@use "./spacing.scss" as spacing;

$body-text-regular: spacing.$sm;
$heading-sm: spacing.$md;
$heading-md: spacing.$lg;
$heading-lg: spacing.$xl;

@mixin body-text {
  padding: 0;
  font-size: $body-text-regular;
}

@mixin heading {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
