@use "../../styles/typography.scss" as typography;
@use "../../styles/spacing.scss" as spacing;

.heading {
  @include typography.heading;

  margin-bottom: spacing.$xs;

  &__sm {
    font-size: typography.$heading-sm;
  }

  &__md {
    font-size: typography.$heading-md;
  }

  &__lg {
    font-size: typography.$heading-lg;
  }
}
