@use "../foundations/colors.scss" as colors;
@use "../foundations/spacing.scss" as spacing;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: colors.$light;
}

.margin-bottom {
  &__none {
    margin-bottom: 0;
  }

  &__xs {
    margin-bottom: spacing.$xs;
  }

  &__sm {
    margin-bottom: spacing.$sm;
  }

  &__md {
    margin-bottom: spacing.$md;
  }
}
