@use "../styles/breakpoints.scss" as breakpoints;
@use "../styles/spacing.scss" as spacing;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: spacing.$lg spacing.$lg;

  @include breakpoints.respond(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: spacing.$md;
  }

  @include breakpoints.respond(mobile) {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: spacing.$sm;
  }
}
