@use "../foundations/breakpoints.scss" as breakpoints;
@use "../foundations/spacing.scss" as spacing;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: spacing.$lg;
  grid-row-gap: spacing.$lg;

  @include breakpoints.respond(tablet) {
    grid-column-gap: spacing.$md;
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoints.respond(mobile) {
    grid-column-gap: spacing.$sm;
    grid-template-columns: repeat(1, 1fr);
  }
}
