.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 25rem;
    width: auto;
  }
}
